<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.basic.android.basiclauncher">
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA"/>

    <application
        android:theme="@style/Theme.Leanback"
        android:label="@string/title_activity_main"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:logo="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:banner="@drawable/ic_banner"
        android:extractNativeLibs="false"
        android:isSplitRequired="true">
        <activity
            android:theme="@style/Theme.Transparent"
            android:name="com.basic.android.basiclauncher.view.AddActivity"/>
        <activity
            android:theme="@style/Theme.Leanback"
            android:label="@string/title_activity_main"
            android:name="com.basic.android.basiclauncher.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name=".MyReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.PACKAGE_INSTALL" />
                    <action android:name="android.intent.action.PACKAGE_ADDED" />
                    <data android:scheme="package"/>
                </intent-filter>
        </receiver>
    </application>
</manifest>